<link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">

<div id="vssue"></div>

<script src="https://unpkg.com/vue/dist/vue.min.js"></script>

<script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>

<script>
    new Vue({
        el: '#vssue',
        render: h => h('Vssue', {
            props: {
                // here set the title of issue of current page
                title: '{{ page.title }}',
                // here set the options for your OAuth App
                options: {
                    owner: '{{ site.data.social.vssue.owner }}',
                    repo: '{{ site.data.social.vssue.repo }}',
                    clientId: '{{ site.data.social.vssue.clientid }}',
                    clientSecret: '{{ site.data.social.vssue.clientsecret }}', // only required for some of the platforms
                },
            }
        })
    })
</script>

<!--script>
    new Valine({
        avatar: 'retro',
        av: AV,
        el: '#comments',
        app_id: '{{ site.data.social.valine_comment.leancloud_appid }}',
        app_key: '{{ site.data.social.valine_comment.leancloud_appkey }}',
        placeholder:'{{ site.data.social.valine_comment.placeholder }}'
    });
</script-->
